.contentsflow2 {
    height: 164px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px #00000029;
    background-color: #ffffff;
    margin: 4px 3.5px 4px 3.5px;
}
.contentsflow2:hover {
    cursor: pointer;
    background-color: #F7F7F7;
    animation: auto-animate ease-out 0.3s;
}

@keyframes auto-animate {
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}


/* code ở đây */